<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/{{style}}">
  <link rel="stylesheet" href="/css/navbar.css">
  <title>{{{title}}}</title>
  {{!--
  <script src=/src/{{{script}}} async></script> --}}
</head>

<body>
  <ul class="topnav">
    <li><a class=" active" href="/">Home</a> </li>
    <li><a href="/events">Events</a> </li>
    <li><a href="/contact">Contact</a> </li>
    <li><a href="/about">About</a> </li>
    <li class="right">{{#if userId}}
                        <a href="/login/logout">Αποσύνδεση</a>
                    {{else}}
                        <a href="/login">Είσοδος</a>
                    {{/if}} </li>
            </ul>


    {{!-- <div class="container">

        <div class="logo">
            <img src="/img/logo.png">
            
        </div>

        <div class="title">
            <h1> ΙΣΤΟΣΕΛΙΔΑ ΚΡΑΤΗΣΗΣ ΕΚΔΗΛΩΣΕΩΝ</h1>
        </div>

      </div> --}}
      
  {{{body}}}

  


</body>

</html>