<div id="panel" class="row ">
    <div class="col mt-3">
        <ul class="list-group">
            <a href="/eventForm" class="newEventBtn"> Δημιουργία Event </a>

            {{#each events}}
            <li class="list-group-item">
                {{!-- <div class="infoBlock"> --}}
                    <img class="smallBanner" src={{this.img}}>
                    <div class="info">
                        <div class="eventTitle"><b>{{this.name}} </b></div>
                        <div class="eventDate"><b>Ημ/νια: {{this.start_date}}</b> </div>
                    </div>
                    {{!--
                </div> --}}
                <div class="eventButtons">
                    <div class="editBtnLabel"> <button class="editBtn"> Επεξεργασία </button></div>

                    <div class="eraseBtnLabel"> <a href="controlPanel/delete{{id}}"><button class="eraseBtn"> Διαγραφή
                                </button></a></div>

                    <div class="listBtnLabel"> <a href="controlPanel/delete{{id}}"><button class="listBtn"> Κρατήσεις
                                </button></a></div>
                </div>

            </li>
            {{/each}}
        </ul>
    </div>
</div>


<script src="/src/controlPanel.js"></script>