<div class="row ">
    <div class="col mt-3">
        <ul class="list-group">
            {{#each events}}
            <li class="list-group-item">
                <a class="infoBlock" href="/event/{{this.id}}">
                    <img class="smallBanner" src={{this.img}}>
                    <div class="info">
                        <div class="eventTitle"><b>{{this.name}} </b></div>
                        <div class="eventDate"><b>Ημ/νια: {{this.start_date}}</b> </div>
                    </div>
                </a>
                <div class="eventDesc">
                    <p>{{this.description}}</p>
                </div>

            </li>
            {{/each}}
        </ul>
    </div>
</div>