<div class="event_page">
	<div class="img_box">
		<img class="mainimg" src={{eventImg}}> </img>
	</div>
	<div class="info">
		<div class="eventTitle">
			<h2 style="text-align: center"> {{eventTitle}} </h2>
		</div>
		<div class="eventInfo">
			<span id="eventDate"> Date: {{eventDate}} </span>
			<br>
			<p id="eventTheater"> Theater: {{eventPlace}} </p>

		</div>
		<div class="eventReservation">
			<a href="/form/{{id}}"> <button id="btnreservation" type="button" class="btnReservation"> Κάντε Κράτηση
				</button> </a>
		</div>
	</div>

	<div class="details_menu">

		<dl>
			<dt id="description" class="active"> Περιγραφή</dt>
			<dt id="castCrew"> Συντελεστές </dt>
			<dt id="organizer"> Διοργανωτής </dt>
			<dt id="price"> Πληροφορίες </dt>
			<br><br>
		</dl>

	</div>
	<div class="placeholder_information">
		<div id="description1" class="active">
			<dd>
				{{#each eventDescription}}
				<p> {{this}} </p>
				{{/each}}
			</dd>
		</div>

		<div id="castCrew1" class="">
			<dd>
				{{#each eventCast}}
				<p> {{this}} </p>
				{{/each}}
			</dd>
		</div>

		<div id="organizer1" class="">
			<dd>
				{{#each eventOrganizer}}
				<p> {{this}} </p>
				{{/each}}
			</dd>
		</div>

		<div id="price1" class="">
			<dd>
				Τηλέφωνο Επικοινωνίας: {{eventPhone}}
			</dd>
			<dd>
				Τιμή εισητηρίου: {{eventPrice}} €
			</dd>
			<dd>
				Συνολικές θέσεις: {{eventTotalSeats}}
			</dd>
			<dd>
				Διαθέσιμες θέσεις: {{eventRemainingSeats}}
			</dd>
		</div>

	</div>
</div>


<script src="/src/event.js"></script>