   <div class="row ">
        <div class="col mt-3">
            <ul class="list-group">
                {{#each events}}
                    <li class="list-group-item">
                    <a href="/event/{{id}}" >
                    <img class = "smallBanner" src = {{image}}>
                    <div class="info">
                    <div class="eventTitle"><b>{{title}} </b></div>
                    <br>  
                    <div class="eventDate"><b>Ημ/νια: {{date}} </b> </div>

                    </div>
                    </a> 
                    <div class="eventDesc"> <textarea id="eventDescr" style="height: 100%; width: 100%;" readonly wrap="hard"> {{description}} 
                        
                    </textarea>
                    </div>
                    
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>

