{{#if success}}
<script>
    alert("{{success}}");
</script>
{{/if}}

<div class="subtitle">
    <h2> Οι πιο δημοφηλείς παραστάσεις </h2>
</div>

<div class="carousel">
    <ol class="carousel__viewport">
        <li id="carousel__slide1" tabindex="0" class="carousel__slide">
            <div class="carouselImage">
                <div class="imgTitle">
                    <p>{{event.title.[0]}}</p>
                </div>
                <img src={{event.img.[0]}} id="myImg" style="height:410px">
            </div>
            <a href="/event/{{event.id.[0]}}" class="carousel__snapper"></a>
            <a href="#carousel__slide3" class="carousel__prev">Go to last slide</a>
            <a href="#carousel__slide2" class="carousel__next">Go to next slide</a>

        </li>
        <li id="carousel__slide2" tabindex="0" class="carousel__slide">
            <div class="carouselImage">
                <div class="imgTitle">
                    <p>{{event.title.[1]}}</p>
                </div>
                <img src={{event.img.[1]}} id="myImg" style="height:410px ;">
            </div>
            <a href="/event/{{event.id.[1]}}" class="carousel__snapper"></a>
            <a href="#carousel__slide1" class="carousel__prev">Go to previous slide</a>
            <a href="#carousel__slide3" class="carousel__next">Go to next slide</a>
        </li>
        <li id="carousel__slide3" tabindex="0" class="carousel__slide">
            <div class="carouselImage">
                <div class="imgTitle">
                    <p>{{event.title.[2]}}</p>
                </div>
                <img src={{event.img.[2]}} id="myImg" style="height:410px ;">
            </div>
            <a href="/event/{{event.id.[2]}}" class="carousel__snapper"></a>
            <a href="#carousel__slide2" class="carousel__prev">Go to previous slide</a>
            <a href="#carousel__slide1" class="carousel__next">Go to next slide</a>
        </li>
    </ol>



    <aside class="carousel__navigation">
        <ol class="carousel__navigation-list">
            <li class="carousel__navigation-item">
                <a href="#carousel__slide1" class="carousel__navigation-button">Go to slide 1</a>
            </li>
            <li class="carousel__navigation-item">
                <a href="#carousel__slide2" class="carousel__navigation-button">Go to slide 2</a>
            </li>
            <li class="carousel__navigation-item">
                <a href="#carousel__slide3" class="carousel__navigation-button">Go to slide 3</a>
            </li>
        </ol>
    </aside>
</div>




<script src="/src/home.js" async></script>