<div class="description">
    <h1><b>Λίστα Κρατήσεων</b></h1>
    <h2><b>Παράσταση:</b> {{event.title}} <b>Ημ/νια:</b> {{event.date}}</h2>
</div>


<div class="row ">
<table class="reservation">
    <div class="reservations">
        <tr>
          <th>ID</th>
          <th>ΟΝΟΜΑ</th>
          <th>EMAIL</th>
          <th>ΤΗΛΕΦΩΝΟ</th>
          <th>ΕΙΣΗΤΗΡΙΑ</th>
          <th>ΤΙΜΗ</th>
        </tr>
        {{#each reservation}}
        <tr>
          <td id="rsvId" >{{this.id}}</td>
          <td class="rsvName" >{{this.name}}</td>
          <td class="rsvEmail">{{this.email}}</td>
          <td class="rsvPhone">{{this.phone}}</td>
          <td class="rsvTickets">{{this.tickets}}</td>
          <td class="rsvPrice">{{this.price}}</td>
        </tr>
      </table>                
            {{/each}}
    </div>